:root {
  --characterID-xaU6AJ-color: #d7effe; /* 雪名 */
  --characterID-Qc5Z6k-color: #feb4cc; /* 陽南 */
  --characterID-0t4cEE-color: #ad9ef5; /* 夢月 */
  --characterID-q9UfIy-color: #f8c2ff; /* 愛流 */
  --characterID-mtW3tt-color: #86deea; /* 珠璃 */
  --characterID-OdhlR4-color: #edcc54; /* 則元 */
  --characterID-FGLxXs-color: #b2cadc; /* 太郎 */
  --characterID-y9m6iM-color: #f8a5ba; /* 花子 */
  --characterID-YROPUO-color: #ff7300; /* 悟空 */
  --characterID-qOWicP-color: #c29afe; /* フリーザ */
}
/* 雪名 - characterID-xaU6AJ */
.character-container-left.characterID-xaU6AJ .serihu-bubble,
.character-container-left.characterID-xaU6AJ .serihu-bubble.thought::before,
.character-container-left.characterID-xaU6AJ .serihu-bubble.thought::after,
.character-container-right.characterID-xaU6AJ .serihu-bubble,
.character-container-right.characterID-xaU6AJ .serihu-bubble.thought::before,
.character-container-right.characterID-xaU6AJ .serihu-bubble.thought::after {
  background-color: var(--characterID-xaU6AJ-color);
}

.character-container-left.characterID-xaU6AJ .serihu-bubble.uniflash,
.character-container-right.characterID-xaU6AJ .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-xaU6AJ-color), var(--characterID-xaU6AJ-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-xaU6AJ .serihu-bubble.uniflash::before,
.character-container-right.characterID-xaU6AJ .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-xaU6AJ-color), var(--characterID-xaU6AJ-color) 50%,transparent 65%);
}

.character-container-left.characterID-xaU6AJ .serihu-bubble::after,
.character-container-right.characterID-xaU6AJ .serihu-bubble::after {
  border-color: var(--characterID-xaU6AJ-color) transparent transparent;
}

.character-container-left.characterID-xaU6AJ .serihu-char,
.character-container-right.characterID-xaU6AJ .serihu-char {
  color: var(--characterID-xaU6AJ-color);
}

/* 陽南 - characterID-Qc5Z6k */
.character-container-left.characterID-Qc5Z6k .serihu-bubble,
.character-container-left.characterID-Qc5Z6k .serihu-bubble.thought::before,
.character-container-left.characterID-Qc5Z6k .serihu-bubble.thought::after,
.character-container-right.characterID-Qc5Z6k .serihu-bubble,
.character-container-right.characterID-Qc5Z6k .serihu-bubble.thought::before,
.character-container-right.characterID-Qc5Z6k .serihu-bubble.thought::after {
  background-color: var(--characterID-Qc5Z6k-color);
}

.character-container-left.characterID-Qc5Z6k .serihu-bubble.uniflash,
.character-container-right.characterID-Qc5Z6k .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-Qc5Z6k-color), var(--characterID-Qc5Z6k-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-Qc5Z6k .serihu-bubble.uniflash::before,
.character-container-right.characterID-Qc5Z6k .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-Qc5Z6k-color), var(--characterID-Qc5Z6k-color) 50%,transparent 65%);
}

.character-container-left.characterID-Qc5Z6k .serihu-bubble::after,
.character-container-right.characterID-Qc5Z6k .serihu-bubble::after {
  border-color: var(--characterID-Qc5Z6k-color) transparent transparent;
}

.character-container-left.characterID-Qc5Z6k .serihu-char,
.character-container-right.characterID-Qc5Z6k .serihu-char {
  color: var(--characterID-Qc5Z6k-color);
}

/* 夢月 - characterID-0t4cEE */
.character-container-left.characterID-0t4cEE .serihu-bubble,
.character-container-left.characterID-0t4cEE .serihu-bubble.thought::before,
.character-container-left.characterID-0t4cEE .serihu-bubble.thought::after,
.character-container-right.characterID-0t4cEE .serihu-bubble,
.character-container-right.characterID-0t4cEE .serihu-bubble.thought::before,
.character-container-right.characterID-0t4cEE .serihu-bubble.thought::after {
  background-color: var(--characterID-0t4cEE-color);
}

.character-container-left.characterID-0t4cEE .serihu-bubble.uniflash,
.character-container-right.characterID-0t4cEE .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-0t4cEE-color), var(--characterID-0t4cEE-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-0t4cEE .serihu-bubble.uniflash::before,
.character-container-right.characterID-0t4cEE .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-0t4cEE-color), var(--characterID-0t4cEE-color) 50%,transparent 65%);
}

.character-container-left.characterID-0t4cEE .serihu-bubble::after,
.character-container-right.characterID-0t4cEE .serihu-bubble::after {
  border-color: var(--characterID-0t4cEE-color) transparent transparent;
}

.character-container-left.characterID-0t4cEE .serihu-char,
.character-container-right.characterID-0t4cEE .serihu-char {
  color: var(--characterID-0t4cEE-color);
}

/* 愛流 - characterID-q9UfIy */
.character-container-left.characterID-q9UfIy .serihu-bubble,
.character-container-left.characterID-q9UfIy .serihu-bubble.thought::before,
.character-container-left.characterID-q9UfIy .serihu-bubble.thought::after,
.character-container-right.characterID-q9UfIy .serihu-bubble,
.character-container-right.characterID-q9UfIy .serihu-bubble.thought::before,
.character-container-right.characterID-q9UfIy .serihu-bubble.thought::after {
  background-color: var(--characterID-q9UfIy-color);
}

.character-container-left.characterID-q9UfIy .serihu-bubble.uniflash,
.character-container-right.characterID-q9UfIy .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-q9UfIy-color), var(--characterID-q9UfIy-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-q9UfIy .serihu-bubble.uniflash::before,
.character-container-right.characterID-q9UfIy .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-q9UfIy-color), var(--characterID-q9UfIy-color) 50%,transparent 65%);
}

.character-container-left.characterID-q9UfIy .serihu-bubble::after,
.character-container-right.characterID-q9UfIy .serihu-bubble::after {
  border-color: var(--characterID-q9UfIy-color) transparent transparent;
}

.character-container-left.characterID-q9UfIy .serihu-char,
.character-container-right.characterID-q9UfIy .serihu-char {
  color: var(--characterID-q9UfIy-color);
}

/* 珠璃 - characterID-mtW3tt */
.character-container-left.characterID-mtW3tt .serihu-bubble,
.character-container-left.characterID-mtW3tt .serihu-bubble.thought::before,
.character-container-left.characterID-mtW3tt .serihu-bubble.thought::after,
.character-container-right.characterID-mtW3tt .serihu-bubble,
.character-container-right.characterID-mtW3tt .serihu-bubble.thought::before,
.character-container-right.characterID-mtW3tt .serihu-bubble.thought::after {
  background-color: var(--characterID-mtW3tt-color);
}

.character-container-left.characterID-mtW3tt .serihu-bubble.uniflash,
.character-container-right.characterID-mtW3tt .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-mtW3tt-color), var(--characterID-mtW3tt-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-mtW3tt .serihu-bubble.uniflash::before,
.character-container-right.characterID-mtW3tt .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-mtW3tt-color), var(--characterID-mtW3tt-color) 50%,transparent 65%);
}

.character-container-left.characterID-mtW3tt .serihu-bubble::after,
.character-container-right.characterID-mtW3tt .serihu-bubble::after {
  border-color: var(--characterID-mtW3tt-color) transparent transparent;
}

.character-container-left.characterID-mtW3tt .serihu-char,
.character-container-right.characterID-mtW3tt .serihu-char {
  color: var(--characterID-mtW3tt-color);
}

/* 則元 - characterID-OdhlR4 */
.character-container-left.characterID-OdhlR4 .serihu-bubble,
.character-container-left.characterID-OdhlR4 .serihu-bubble.thought::before,
.character-container-left.characterID-OdhlR4 .serihu-bubble.thought::after,
.character-container-right.characterID-OdhlR4 .serihu-bubble,
.character-container-right.characterID-OdhlR4 .serihu-bubble.thought::before,
.character-container-right.characterID-OdhlR4 .serihu-bubble.thought::after {
  background-color: var(--characterID-OdhlR4-color);
}

.character-container-left.characterID-OdhlR4 .serihu-bubble.uniflash,
.character-container-right.characterID-OdhlR4 .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-OdhlR4-color), var(--characterID-OdhlR4-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-OdhlR4 .serihu-bubble.uniflash::before,
.character-container-right.characterID-OdhlR4 .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-OdhlR4-color), var(--characterID-OdhlR4-color) 50%,transparent 65%);
}

.character-container-left.characterID-OdhlR4 .serihu-bubble::after,
.character-container-right.characterID-OdhlR4 .serihu-bubble::after {
  border-color: var(--characterID-OdhlR4-color) transparent transparent;
}

.character-container-left.characterID-OdhlR4 .serihu-char,
.character-container-right.characterID-OdhlR4 .serihu-char {
  color: var(--characterID-OdhlR4-color);
}

/* 太郎 - characterID-FGLxXs */
.character-container-left.characterID-FGLxXs .serihu-bubble,
.character-container-left.characterID-FGLxXs .serihu-bubble.thought::before,
.character-container-left.characterID-FGLxXs .serihu-bubble.thought::after,
.character-container-right.characterID-FGLxXs .serihu-bubble,
.character-container-right.characterID-FGLxXs .serihu-bubble.thought::before,
.character-container-right.characterID-FGLxXs .serihu-bubble.thought::after {
  background-color: var(--characterID-FGLxXs-color);
}

.character-container-left.characterID-FGLxXs .serihu-bubble.uniflash,
.character-container-right.characterID-FGLxXs .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-FGLxXs-color), var(--characterID-FGLxXs-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-FGLxXs .serihu-bubble.uniflash::before,
.character-container-right.characterID-FGLxXs .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-FGLxXs-color), var(--characterID-FGLxXs-color) 50%,transparent 65%);
}

.character-container-left.characterID-FGLxXs .serihu-bubble::after,
.character-container-right.characterID-FGLxXs .serihu-bubble::after {
  border-color: var(--characterID-FGLxXs-color) transparent transparent;
}

.character-container-left.characterID-FGLxXs .serihu-char,
.character-container-right.characterID-FGLxXs .serihu-char {
  color: var(--characterID-FGLxXs-color);
}

/* 花子 - characterID-y9m6iM */
.character-container-left.characterID-y9m6iM .serihu-bubble,
.character-container-left.characterID-y9m6iM .serihu-bubble.thought::before,
.character-container-left.characterID-y9m6iM .serihu-bubble.thought::after,
.character-container-right.characterID-y9m6iM .serihu-bubble,
.character-container-right.characterID-y9m6iM .serihu-bubble.thought::before,
.character-container-right.characterID-y9m6iM .serihu-bubble.thought::after {
  background-color: var(--characterID-y9m6iM-color);
}

.character-container-left.characterID-y9m6iM .serihu-bubble.uniflash,
.character-container-right.characterID-y9m6iM .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-y9m6iM-color), var(--characterID-y9m6iM-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-y9m6iM .serihu-bubble.uniflash::before,
.character-container-right.characterID-y9m6iM .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-y9m6iM-color), var(--characterID-y9m6iM-color) 50%,transparent 65%);
}

.character-container-left.characterID-y9m6iM .serihu-bubble::after,
.character-container-right.characterID-y9m6iM .serihu-bubble::after {
  border-color: var(--characterID-y9m6iM-color) transparent transparent;
}

.character-container-left.characterID-y9m6iM .serihu-char,
.character-container-right.characterID-y9m6iM .serihu-char {
  color: var(--characterID-y9m6iM-color);
}

/* 悟空 - characterID-YROPUO */
.character-container-left.characterID-YROPUO .serihu-bubble,
.character-container-left.characterID-YROPUO .serihu-bubble.thought::before,
.character-container-left.characterID-YROPUO .serihu-bubble.thought::after,
.character-container-right.characterID-YROPUO .serihu-bubble,
.character-container-right.characterID-YROPUO .serihu-bubble.thought::before,
.character-container-right.characterID-YROPUO .serihu-bubble.thought::after {
  background-color: var(--characterID-YROPUO-color);
}

.character-container-left.characterID-YROPUO .serihu-bubble.uniflash,
.character-container-right.characterID-YROPUO .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-YROPUO-color), var(--characterID-YROPUO-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-YROPUO .serihu-bubble.uniflash::before,
.character-container-right.characterID-YROPUO .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-YROPUO-color), var(--characterID-YROPUO-color) 50%,transparent 65%);
}

.character-container-left.characterID-YROPUO .serihu-bubble::after,
.character-container-right.characterID-YROPUO .serihu-bubble::after {
  border-color: var(--characterID-YROPUO-color) transparent transparent;
}

.character-container-left.characterID-YROPUO .serihu-char,
.character-container-right.characterID-YROPUO .serihu-char {
  color: var(--characterID-YROPUO-color);
}

/* フリーザ - characterID-qOWicP */
.character-container-left.characterID-qOWicP .serihu-bubble,
.character-container-left.characterID-qOWicP .serihu-bubble.thought::before,
.character-container-left.characterID-qOWicP .serihu-bubble.thought::after,
.character-container-right.characterID-qOWicP .serihu-bubble,
.character-container-right.characterID-qOWicP .serihu-bubble.thought::before,
.character-container-right.characterID-qOWicP .serihu-bubble.thought::after {
  background-color: var(--characterID-qOWicP-color);
}

.character-container-left.characterID-qOWicP .serihu-bubble.uniflash,
.character-container-right.characterID-qOWicP .serihu-bubble.uniflash {
  background: radial-gradient(var(--characterID-qOWicP-color), var(--characterID-qOWicP-color) 55% 50%,transparent 65%);
}

.character-container-left.characterID-qOWicP .serihu-bubble.uniflash::before,
.character-container-right.characterID-qOWicP .serihu-bubble.uniflash::before {
  background: radial-gradient(var(--characterID-qOWicP-color), var(--characterID-qOWicP-color) 50%,transparent 65%);
}

.character-container-left.characterID-qOWicP .serihu-bubble::after,
.character-container-right.characterID-qOWicP .serihu-bubble::after {
  border-color: var(--characterID-qOWicP-color) transparent transparent;
}

.character-container-left.characterID-qOWicP .serihu-char,
.character-container-right.characterID-qOWicP .serihu-char {
  color: var(--characterID-qOWicP-color);
}

