:root {
	--dialogue-font: 'Shippori Antique', '源暎アンチック v5', 'びぜんアンチック', serif;
	--monologue-font: '源柔ゴシック', sans-serif;
	--pop-font: 'Mochiy Pop One', '源暎ぽっぷる';
	--strong-font: '源暎エムゴv2', sans-serif;
	--weak-font: '851チカラヨワク', '851CHIKARA-YOWAKU';
	--horror-font: 'g_コミックホラー恐怖-教漢';
  }

.serihu-text{
	font-size:0.9em;
	font-family: var(--dialogue-font);
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.02em;
  }

.serihu-char {
  font-family: "";
  font-weight: 700;
  font-style: normal;
  letter-spacing:0.02em;
}
.serihu-comment-text {
  font-family: "";
  font-weight: 300;
  font-style: normal;
  font-size:0.8em;
}

.type-monologue {
	font-family: var(--monologue-font);
	font-weight: 400;
	font-style: normal;
	font-size: 95%;
}

.type-pop {
	font-family: var(--pop-font);
	font-weight: 400;
	font-style: normal;
	font-size: 95%;
}

.type-strong {
	font-family: var(--strong-font);
	font-weight: 800;
	font-style: normal;	  
}

.type-weak {
	font-family: var(--weak-font);
	font-weight: 400;
	font-style: normal;
	font-size: 105%;
}

.type-horrer {
	font-family: var(--horror-font);
	font-weight: 400;
	font-style: normal;
}