/* GoogleFontsを使用する場合はこの行を削除してください。下はフォントの一例です。
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kiwi+Maru:wght&family=Mochiy+Pop+One&family=New+Tegomin&family=Shippori+Antique&family=Yuji+Boku&family=Zen+Kaku+Gothic+Antique:wght@700&family=Zen+Maru+Gothic:wght@400;500&display=swap');
上はフォントの一例です。GoogleFontsを使用する場合はこの行を削除してください */

.serihu-text{
	font-size:0.9em;
	font-family: "Shippori Antique",'源暎アンチック v5','源暎アンチック v4','07やさしさアンチック','F910新コミック体','びぜんアンチック','Iwata Antic Std B';
	font-weight: 400;
	font-style: normal;
	letter-spacing: -0.02em;
  }

.serihu-char {
  font-family: "Kiwi Maru";
  font-weight: 500;
  font-style: normal;
  letter-spacing:0.02em;
}
.serihu-comment-text {
  font-family: "Zen Maru Gothic";
  font-weight: 400;
  font-style: normal;
  font-size:0.9em;
}

.type-monologue {
	font-family: '源柔ゴシック',"Zen Maru Gothic";
	font-weight: 400;
	font-style: normal;
	font-size: 95%;
}
.type-strong {
	font-family: '源暎エムゴv2',"Zen Kaku Gothic Antique";
	font-weight: 800;
	font-style: normal;	  
}

.type-pop {
	font-family: "Mochiy Pop One",'源暎ぽっぷる';
	font-weight: 400;
	font-style: normal;
	font-size: 95%;
}

.type-weak {
	font-family: "Yuji Boku",'851チカラヨワク';
	font-weight: 400;
	font-style: normal;
	font-size: 105%;
}

.type-horrer {
	font-family: "New Tegomin","Hina Mincho",'g_コミックホラー恐怖-教漢';
	font-weight: 400;
	font-style: normal;
}